body {
  margin: 0;
  padding: 0;
  background: white;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: unset;
}

header {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
}

.logo__image {
  width: 20rem;
}

.navigation {
  display: flex;
  font-size: 1.4em;
  column-gap: 2rem;
}

.presentation {
  background-image: url("img/agence-la-panthere.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}

.presentation__content {
  background: url("img/texture-paper.png");
  background-size: 280px 280px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0rem;
  font-size: 1.5rem;
}

.presentation__logo {
  width: 4em;
}

.presentation__text {
  color: #f3976c;
  font-weight: 100;
}

.presentation__contact {
  box-sizing: border-box;
  background: #f3976c;
  color: white;
  height: 3rem;
  width: 9rem;
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.presentation__contact:visited {
  color: white;
}

.services__header {
  max-width: 35rem;
  color: #575757;
  margin: 3rem auto 1rem auto;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
}

.services__list {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.services__list-icon {
  color: #364577;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 4rem;
}

.services__list-text {
  margin: auto;
  width: 18rem;
  color: #575757;
}

.citation {
  margin: 4rem auto;
  text-align: center;
  font-style: italic;
  font-size: 1.15rem;
  max-width: 31rem;
}

.citation p {
  margin: 0rem;
}

.citation__name {
  font-style: normal;
  font-weight: 100;
}

.objectifs {
  background-image: url("img/image-de-presentation.bmp");
  background-attachment: fixed;
  background-size: cover;
}
.objectifs__filter {
  text-align: center;
  background: url("img/texture-paper.png");
  background-size: 280px 280px;
  padding: 8rem;
  height: 100%;
}

.objectifs__container {
  margin: auto;
  padding: 1.5rem 2rem;
  max-width: 35rem;
  background-color: rgba(57, 57, 57, 0.7);
}

.objectifs__title {
  color: #f3976c;
  font-size: 1.5rem;
}

.objectifs__text--colored {
  color: #f3976c;
  font-size: 1.3rem;
}

.objectifs__text--white {
  color: white;
}

.objectifs__text--white:visited {
  color: white;
}

@media (max-width: 672px) {
  header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
